## Devenv
.devenv*
devenv.local.nix

## direnv
.direnv

## pre-commit
.pre-commit-config.yaml

## shadow-cljs
node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
