;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[binaryage/devtools "1.0.7"]
  [applied-science/js-interop "0.4.2"]
  [com.github.pkpkpk/cljs-node-io "2.0.339"]
  [cljs-ajax "0.8.4"]
  [reagent "1.2.0"]
  [com.rpl/specter "1.1.4"]]

 :builds
 {:main
  {:target :node-script
   :output-to "out/main.js"
   :main main/main}
  :renderer
  {:target :browser
   :modules {:renderer {:init-fn renderer/init}}
   :devtools {:after-load renderer/init}
;; https://github.com/thheller/shadow-cljs/issues/376#issuecomment-414696297
   :js-options {:js-provider :require}}
  :test
  {:target    :node-test
;; https://github.com/shadow-cljs/shadow-cljs.github.io/blob/dd4be69c0144dc0b0ae1cbe8a715eb2be7608ece/docs/target-node-test.adoc?plain=1#L18
   :output-to "out/node-tests.js"
   :autorun   true}}}
